language: python
python:
- '2.7'

before_install:
    - pip install coveralls
    - pip install -r package\requirements.txt
    - pip install -r package\test_requirements.txt

install:
    - python package\setup.py install

script:
    - nosetests
    - python setup.py develop
    - python setup.py sdist --format zip

after_success:
    - coveralls
