-e git+https://github.com/QualiSystems/cloudshell-shell-core.git@dev#egg=cloudshell-shell-core
-e git+https://github.com/QualiSystems/cloudshell-cli.git@dev#egg=cloudshell-cli
-e git+https://github.com/QualiSystems/cloudshell-snmp.git@dev#egg=cloudshell-snmp
-e git+https://github.com/QualiSystems/cloudshell-networking.git@dev#egg=cloudshell-networking
-e git+https://github.com/QualiSystems/cloudshell-networking-devices.git@dev#egg=cloudshell-networking-devices
-e git+https://github.com/QualiSystems/cloudshell-networking-cisco.git@dev#egg=cloudshell-networking-cisco